.tasktable {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;

  td, th {
    border: 1px solid #CCC;
    width: auto;
    position: relative;
    overflow: hidden;
    &:first-child {
      width: 100px;
    }
  }

  th {
    background: #F3F3F3;
    font-weight: bold;
  }

  td {
    background: #FAFAFA;
    text-align: center;
    input[type=text] {
      border: none;
      width: 99%;
      padding: 5px;
      outline: none;
    }

    button {
      display: block;
      width: 100%;
    }
  }
}
