<template>
  <div id="app">
    <table class="tasktable">
      <tr>
        <th>
          <input type="checkbox"  @click.prevent="toggleSelection" :checked="itemsAllSelected">
        </th>
        <resizable-column text="Наименование"></resizable-column>
        <resizable-column text="Количество"></resizable-column>
        <resizable-column text="Цена"></resizable-column>
      </tr>
      <tr v-for="item in items">
        <td>
          <input type="checkbox" v-model="item.__rowChecked">
        </td>
        <td>
          <input type="text" v-model="item.name">
        </td>
        <td>
          <input type="text" v-model="item.count">
        </td>
        <td>
          <input type="text" v-model="item.cost">
        </td>
      </tr>
      <tr>
        <td>
          <button v-if="itemsSelected" @click="removeElements">Удалить</button>
        </td>
        <td colspan="2">Итого: {{checkTotal}}</td>
        <td>
          <button @click="createItem">Добавить</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
  import itemsGenerator from './mock.js'
  import resizableColumn from  './resizableColumn'

  export default {
    name: 'app',
    data() {
      return {
        items: new itemsGenerator(10),
      }
    },
    components: {
      'resizable-column': resizableColumn,
    },
    computed: {
      itemsSelected () {
        return this.getCountSelectedItems();
      },
      itemsAllSelected () {
        return this.getCountSelectedItems() === this.items.length && this.items.length!==0;
      },
      checkTotal () {
        let total = 0;
        this.items.forEach(item => total+=item.count*item.cost || 0);
        return total;
      }
    },
    methods: {
      getCountSelectedItems () {
        return this.items.filter(el => (el.__rowChecked!==undefined && el.__rowChecked===true)).length;
      },
      toggleSelection (){
        let checked = !(this.itemsAllSelected);
        this.items.forEach( item => {this.$set(item, '__rowChecked', checked)})
      },
      createItem () {
        this.items.push({});
      },
      removeElements () {
        let removeIndexes = [];
        this.items.forEach((item, index) => {
          if (item.__rowChecked) {
            removeIndexes.push(index);
          }
        })

        removeIndexes.map((item, index) => item-index).forEach(index => this.removeElement(index));
      },
      removeElement (index) {
        this.items.splice(index, 1);
      }
    }
  }
</script>

<style lang="scss">
  @import "assets/table";
  @import "assets/resizeColumn";
</style>
